<div id="build-panel">
    <ul>
        {{#each buttons}}
        <button class="ui-control plain {{icon}} build-panel-button" data-action={{id}} data-tooltip="{{name}}">
        </button>
        {{/each}}
        {{#if showSeparator}}
        <li style="border-top: 1px solid; width: 70%;margin: 0.2rem 0rem;"></li>
        {{/if}}
        {{#each clipNavigation}}
        <button class="ui-control plain {{icon}} build-panel-button" data-action={{id}} data-tooltip="{{name}}">
        </button>
        {{/each}}
    </ul>
</div>