<form action="submit">
    {{#each clips}}
    <fieldset class="clip" data-index="{{@index}}">
        <div style="display: grid; grid-template-columns: 5fr 1fr 1fr 1fr;align-items: center;">
            <input type="text" name="name" value="{{name}}">
            <button data-action="delete" data-tooltip="Delete Clip"><i class="fa-duotone fa-trash"></i></button>
            <button data-action="edit" data-tooltip="Edit Clip"><i class="fa-duotone fa-edit"></i></button>
            <button data-action="play" data-tooltip="Play Clip"><i class="fa-duotone fa-circle-play"></i></button>
        </div>
        {{#if editing}}
        <div class="form-group">
            <label for="immersive">Immersive Mode</label>
            <input type="checkbox" id="immersive" name="immersive" {{#if immersive}}checked{{/if}}>
        </div>
        <button data-action="macro"><i class="fa-duotone fa-code"></i> Save to Macro</button>
        <ul>
            {{#each keyframes}}
            <li data-index="{{@index}}">
                <fieldset>
                    <legend>Keyframe {{@index}}</legend>

                    <div style="display: grid; grid-template-columns: 1fr 1fr;align-items: center;">
                        <button data-action="delete-keyframe" data-tooltip="Delete Keyframe"><i class="fa-duotone fa-trash"></i></button>
                        <button data-action="capture" data-tooltip="Capture Camera Position"><i class="fa-duotone fa-camera"></i></button>
                    </div>
                                        <div class="form-group">
                        <label for="time">Caption</label>
                        <input class="keyframe" placeholder="caption text" type="text" id="caption" name="caption" value="{{caption}}">
                    </div>
                    <div class="form-group">
                        <label for="time">Duration <span class="units">(sec)</span></label>
                        <input class="keyframe" placeholder="time (seconds)" type="number" step="any" id="time" name="time" value="{{time}}">
                    </div>
                    <div class="form-group">
                        <label for="hold">Stop for <span class="units">(sec)</span></label>
                        <input class="keyframe" placeholder="time (seconds)" type="number" step="any" id="hold" name="hold" value="{{hold}}">
                    </div>
                    <div class="form-group">
                        <label for="transition">Transition</label>
                        <select class="keyframe" name="transition" style="height: 2rem;">
                            {{selectOptions ../../transitionSelect selected=transition localize=false}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="easing">Easing</label>
                        <select class="keyframe" name="easing" style="height: 2rem;">
                            {{selectOptions ../../easingSelect selected=easing localize=false}}
                        </select>
                    </div>
                </fieldset>
            </li>
            {{/each}}
        </ul>
<button data-action="add-keyframe"><i class="fa-duotone fa-plus"></i> Add Keyframe</button>
        {{/if}}
    </fieldset>
    {{/each}}
    <button style="margin-top: 0.5rem;" data-action="add-clip"><i class="fa-duotone fa-video-plus"></i> Add Clip</button>
</form>