<div style="max-height: 100%;overflow: hidden;position: relative;">
    {{#if isAssetBrowser}}
    <div class="grid-wrapper">
        <input type="text" id="search" placeholder="Only the first 200 results shown - Start typing to Search...">
        <input type="number" id="scale" placeholder="Scale">
    </div>
    {{else}}
    <input type="text" id="search"  placeholder="Search Materials...">
    {{/if}}

    <ol>
        {{#each materials}}
        <li {{#if isAssetBrowser}}draggable="true" {{/if}} data-search="{{search}}" data-output="{{output}}"
            data-displayname="{{displayName}}">
            <img src="{{preview}}" alt="" loading="lazy">
            <i class="material-name">{{displayName}}</i>
            <div class="material-confirm">
                <i class="fas fa-check"></i>
            </div>
        </li>
        {{/each}}
    </ol>
</div>