<form action="submit">
    <div class="heigtmap-container" style="background-image: url('{{heightmap}}'); overflow: hidden; background-size: contain; position: relative; width: 400px; height: 400px">
        <div class="matrix-visualizer">
            <div class="matrix-visualizer-handle"></div>
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label>Offset X</label>
        <div class="form-fields">
            <input type="range" name="offsetX" value="{{matrix.offsetX}}" min="0" max="1" step="any">
            <span class="range-value">{{matrix.offsetX}}</span>
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label>Offset Y</label>
        <div class="form-fields">
            <input type="range" name="offsetY" value="{{matrix.offsetY}}" min="0" max="1" step="any">
            <span class="range-value">{{matrix.offsetY}}</span>
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label>Scale X</label>
        <div class="form-fields">
            <input type="range" name="scaleX" value="{{matrix.scaleX}}" min="0" max="10" step="any">
            <span class="range-value">{{matrix.scaleX}}</span>
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label>Scale Y</label>
        <div class="form-fields">
            <input type="range" name="scaleY" value="{{matrix.scaleY}}" min="0" max="10" step="any">
            <span class="range-value">{{matrix.scaleY}}</span>
        </div>
    </div>
    <button style="margin-top: 8px;" id="open-terrain-painter"><i class="fas fa-paintbrush-fine"></i> Open Heightmap Painter</button>
</form>